<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<a class="navbar-brand" href="/">Home</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item active">
    <a class="nav-link" href="/drinks/new">Add New Drink <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/drinks">Drinks list</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/ingredients/new">Add New Ingredients</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/ingredients">Ingedients List</a>
  </li>
</ul>
</div>
</nav>
